In [2]:
import pandas as pd
import geopandas as gpd
import dateutil
from shapely.geometry import shape,Point,Polygon,mapping

In [3]:
fp1 = "mesBCNI_SHP/mesBCN1.shp"

In [4]:
Movil = gpd.read_file(fp1)

In [5]:
Movil.head()

,IDTRAM,TVLDIA,TVLVES,TVLNIT,TVLDEN,TFLDIA,TFLVES,TFLNIT,TFLDEN,TALDIA,...,TOTDIA,TOTVES,TOTNIT,TOTDEN,POBTOT,POBINT,POBEXT,IDAGLO,CODI_INE,geometry
0,1,69,69,64,72,0,0,0,0,0,...,69,69,64,72,419,0,419,BCN1,08019,LINESTRING (431811.3190171953 4586053.80823699...
1,2,63,63,56,65,0,0,0,0,0,...,63,63,56,65,225,0,225,BCN1,08019,LINESTRING (431945.6290804072 4586034.77719028...
2,3,63,63,56,65,0,0,0,0,0,...,63,63,56,65,76,0,76,BCN1,08019,LINESTRING (431856.8482942577 4585949.03772508...
3,4,58,58,51,60,0,0,0,0,0,...,58,58,51,60,161,0,161,BCN1,08019,LINESTRING (431649.5981430262 4585971.31932891...
4,5,67,67,62,70,0,0,0,0,0,...,67,67,62,70,243,0,243,BCN1,08019,LINESTRING (431437.5488453258 4586107.35115096...

In [6]:
Movil['TVLDIA'].count()

16742

In [7]:
type(Movil)

geopandas.geodataframe.GeoDataFrame

In [8]:
Movil.crs

{'init': 'epsg:25831'}

In [9]:
Movil['geometry'].dtype

dtype('O')

In [10]:
Movil.describe()

,TVLDIA,TVLVES,TVLNIT,TVLDEN,TFLDIA,TFLVES,TFLNIT,TFLDEN,TALDIA,TALVES,...,OCLVES,OCLNIT,OCLDEN,TOTDIA,TOTVES,TOTNIT,TOTDEN,POBTOT,POBINT,POBEXT
count,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.0,16742.0,...,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000
mean,58.845419,57.440748,51.615697,60.265022,2.384303,2.313642,2.075081,2.484649,0.0,0.0,...,0.653267,2.375463,2.643472,62.118863,60.575977,54.569824,63.717955,98.187373,11.534882,86.652491
std,16.799869,16.409335,15.294187,17.178666,10.681613,10.357224,9.321741,11.113437,0.0,0.0,...,6.182074,11.508320,12.672604,7.518329,7.465553,8.027668,7.639956,133.267770,53.307138,130.068519
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,58.000000,57.000000,50.000000,59.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,58.000000,57.000000,50.000000,60.000000,7.000000,0.000000,0.000000
50%,63.000000,62.000000,55.000000,64.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,63.000000,62.000000,56.000000,65.000000,53.000000,0.000000,38.000000
75%,67.000000,66.000000,60.000000,69.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,67.000000,66.000000,60.000000,69.000000,137.750000,0.000000,119.000000
max,79.000000,77.000000,73.000000,81.000000,67.000000,64.000000,58.000000,67.000000,0.0,0.0,...,66.000000,68.000000,74.000000,79.000000,77.000000,73.000000,81.000000,2776.000000,1773.000000,2776.000000

In [11]:
Movil["TVLDIA"].mean()

58.84541870744236

In [12]:
Movil.isnull().any()

IDTRAM      False
TVLDIA      False
TVLVES      False
TVLNIT      False
TVLDEN      False
TFLDIA      False
TFLVES      False
TFLNIT      False
TFLDEN      False
TALDIA      False
TALVES      False
TALNIT      False
TALDEN      False
INLDIA      False
INLVES      False
INLNIT      False
INLDEN      False
OCLDIA      False
OCLVES      False
OCLNIT      False
OCLDEN      False
TOTDIA      False
TOTVES      False
TOTNIT      False
TOTDEN      False
POBTOT      False
POBINT      False
POBEXT      False
IDAGLO      False
CODI_INE    False
geometry    False
dtype: bool

In [13]:
count_nan = len(Movil) - Movil.count()
count_nan

IDTRAM      0
TVLDIA      0
TVLVES      0
TVLNIT      0
TVLDEN      0
TFLDIA      0
TFLVES      0
TFLNIT      0
TFLDEN      0
TALDIA      0
TALVES      0
TALNIT      0
TALDEN      0
INLDIA      0
INLVES      0
INLNIT      0
INLDEN      0
OCLDIA      0
OCLVES      0
OCLNIT      0
OCLDEN      0
TOTDIA      0
TOTVES      0
TOTNIT      0
TOTDEN      0
POBTOT      0
POBINT      0
POBEXT      0
IDAGLO      0
CODI_INE    0
geometry    0
dtype: int64

In [14]:
count_nan = len(Movil) - Movil.count()
count_nan

IDTRAM      0
TVLDIA      0
TVLVES      0
TVLNIT      0
TVLDEN      0
TFLDIA      0
TFLVES      0
TFLNIT      0
TFLDEN      0
TALDIA      0
TALVES      0
TALNIT      0
TALDEN      0
INLDIA      0
INLVES      0
INLNIT      0
INLDEN      0
OCLDIA      0
OCLVES      0
OCLNIT      0
OCLDEN      0
TOTDIA      0
TOTVES      0
TOTNIT      0
TOTDEN      0
POBTOT      0
POBINT      0
POBEXT      0
IDAGLO      0
CODI_INE    0
geometry    0
dtype: int64

In [18]:
Movil['IDTRAM'].count()

16742

In [22]:
Movil['IDTRAM'].nunique()

16742

In [23]:
Movil.describe()

,TVLDIA,TVLVES,TVLNIT,TVLDEN,TFLDIA,TFLVES,TFLNIT,TFLDEN,TALDIA,TALVES,...,OCLVES,OCLNIT,OCLDEN,TOTDIA,TOTVES,TOTNIT,TOTDEN,POBTOT,POBINT,POBEXT
count,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.0,16742.0,...,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000
mean,58.845419,57.440748,51.615697,60.265022,2.384303,2.313642,2.075081,2.484649,0.0,0.0,...,0.653267,2.375463,2.643472,62.118863,60.575977,54.569824,63.717955,98.187373,11.534882,86.652491
std,16.799869,16.409335,15.294187,17.178666,10.681613,10.357224,9.321741,11.113437,0.0,0.0,...,6.182074,11.508320,12.672604,7.518329,7.465553,8.027668,7.639956,133.267770,53.307138,130.068519
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,58.000000,57.000000,50.000000,59.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,58.000000,57.000000,50.000000,60.000000,7.000000,0.000000,0.000000
50%,63.000000,62.000000,55.000000,64.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,63.000000,62.000000,56.000000,65.000000,53.000000,0.000000,38.000000
75%,67.000000,66.000000,60.000000,69.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,67.000000,66.000000,60.000000,69.000000,137.750000,0.000000,119.000000
max,79.000000,77.000000,73.000000,81.000000,67.000000,64.000000,58.000000,67.000000,0.0,0.0,...,66.000000,68.000000,74.000000,79.000000,77.000000,73.000000,81.000000,2776.000000,1773.000000,2776.000000

In [24]:
Movil.isnull().any()

IDTRAM      False
TVLDIA      False
TVLVES      False
TVLNIT      False
TVLDEN      False
TFLDIA      False
TFLVES      False
TFLNIT      False
TFLDEN      False
TALDIA      False
TALVES      False
TALNIT      False
TALDEN      False
INLDIA      False
INLVES      False
INLNIT      False
INLDEN      False
OCLDIA      False
OCLVES      False
OCLNIT      False
OCLDEN      False
TOTDIA      False
TOTVES      False
TOTNIT      False
TOTDEN      False
POBTOT      False
POBINT      False
POBEXT      False
IDAGLO      False
CODI_INE    False
geometry    False
dtype: bool

In [25]:
count_nan = len(Movil) - Movil.count()
count_nan

IDTRAM      0
TVLDIA      0
TVLVES      0
TVLNIT      0
TVLDEN      0
TFLDIA      0
TFLVES      0
TFLNIT      0
TFLDEN      0
TALDIA      0
TALVES      0
TALNIT      0
TALDEN      0
INLDIA      0
INLVES      0
INLNIT      0
INLDEN      0
OCLDIA      0
OCLVES      0
OCLNIT      0
OCLDEN      0
TOTDIA      0
TOTVES      0
TOTNIT      0
TOTDEN      0
POBTOT      0
POBINT      0
POBEXT      0
IDAGLO      0
CODI_INE    0
geometry    0
dtype: int64